<h1>{{ title }} {{ todayDate | date:'short' }}</h1>

<div *ngFor="let item of videoList">
  <a href="{{item.slug}}">{{ item.name }}</a><br>
  <!--<a href="{{item.slug}}" *ngIf="item.slug == 'videos/item-1'">{{ item.name }}</a>-->
  <!--<a href="{{item.slug}}" *ngIf="item.slug != 'item-1'" style="color: red;">{{ item.name }}</a>-->

  <iframe width="560" height="315" [src]="getEmbedURL(item) | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <hr>
</div>
