<form #searchForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="submitSearch($event, searchForm)">
  <input type="hidden" name="location" [(ngModel)]="searchLocation">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" [(ngModel)]="searchQuery" (change)="searchQueryChange()" >
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
    Search
    <!--<span *ngIf="!searchQuery">Search</span> -->
    <!--<span *ngIf="searchQuery">Search for... {{ searchQuery }}</span>-->
  </button>
</form>
